@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 0.3s,
    color 0.3s;
}
.main {
  max-width: 1536px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #111;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
span,
nav,
li {
  color: var(--text);
}
